<mat-card>
    <mat-card-title>Excluir livro</mat-card-title>

    <div *ngIf="!book">Carregando livro...</div>

    <form *ngIf="book">  
        <mat-form-field>  <!-- ngModel é o two way data bidding, que coloca os atributos dentro do objeto -->
            <input matInput placeholder="Título" [(ngModel)]="book.title" name="title" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Autor" [(ngModel)]="book.author" name="author" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Ano de publicação" [(ngModel)]="book.yearPublication" name="yearPublication" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="book.price" name="price" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Id da biblioteca" [(ngModel)]="book.libraryId" name="yearPublication" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteBook()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>