<mat-card>
    <mat-card-title>Editar empréstimo</mat-card-title>
  
    <div *ngIf="!loan">Carregando empréstimo...</div>
  
    <form *ngIf="loan as loanData">
      <mat-form-field>
        <input matInput placeholder="Título" [(ngModel)]="loan.bookTitle" name="bookTitle" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nome do usuário" [(ngModel)]="loan.users.name" name="name" disabled>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput type="date" placeholder="Data de início" [(ngModel)]="loan.effectiveFrom" name="effectiveFrom" disabled>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput type="date" placeholder="Data de fim" [(ngModel)]="loan.effectiveTo" name="effectiveTo" [disabled]="loan.delivered">
      </mat-form-field>
  
      <mat-slide-toggle [(ngModel)]="loan.delivered" name="delivered" color="primary" [disabled]="loan.delivered">
        {{ loan.delivered ? 'Devolver livro' : 'Livro não devolvido' }}
      </mat-slide-toggle>
      
    </form>
  
    <button mat-raised-button (click)="updateLoan()" color="primary">
      Salvar
    </button>
  
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
</mat-card>