table {
    width: 100%;
}

.edit > i {
    color: #d9cd26;
}

.edit {
    display: inline-block;
    text-decoration: none;
  }
  
  .mat-column-action {
    text-align: center;
  }
  
  .mat-column-action .mat-cell {
    display: flex;
    justify-content: center;
  }

.text-red {
    color: red;
}
.center {
    text-align: center;
    font-weight: 400;
}