<mat-card>
    <mat-card-title>Adicionar empréstimo</mat-card-title>

    <div *ngIf="!bookForm">Carregando livros...</div>
    <div *ngIf="!loanForm">Carregando empréstimo...</div>

    <form [formGroup]="bookForm">
        <mat-form-field appearance="fill">
          <mat-label>Selecione o livro</mat-label>
          <mat-select [(ngModel)]="bookIdSelected" formControlName="book" (selectionChange)="onSelectionChange($event.value)">
            <mat-option *ngFor="let book of books" [value]="book.id">
              {{ book.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    <form [formGroup]="loanForm">
        <mat-form-field>
            <input matInput placeholder="E-mail do usuário" formControlName="email" name="email" (blur)="findUserByEmail($event)">
        </mat-form-field>
    
        <mat-form-field>
          <input matInput type="date"  placeholder="Data de início" formControlName="effectiveFrom" name="effectiveFrom">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="date"  placeholder="Data de fim" formControlName="effectiveTo" name="effectiveTo">
          </mat-form-field>
    
    </form>

    <button mat-raised-button (click)="createLoan()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>



