<mat-card>
    <mat-card-title>Novo livro</mat-card-title>
    <div *ngIf="!bookForm">Carregando livros...</div>

    <form [formGroup]="bookForm">
        <mat-form-field> <!-- ngModel é o two way data bidding, que coloca os atributos dentro do objeto -->
            <input matInput placeholder="Título" formControlName="title" name="title">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Autor" formControlName="author" name="author">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de publicação" formControlName="yearPublication" name="yearPublication">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" formControlName="price" name="price">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Id da biblioteca" formControlName="libraryId" name="libraryId">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createBook()" color="primary" [disabled]="bookForm.invalid">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>